/**
 * Feeding the Sharks
 */
.sharks {
  width: 200px;
  float: left;
  padding-right: 18px;
}
.shark-title {
  font-size: 16px;
  padding-bottom: 6px
}
div.shark-title a img {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

div.shark-video a:hover img {
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.emvideo-colorbox-load img {
    width: 200px;
    height: 136px;
}
.emvideo-colorbox-load .emvideo-thumbnail-replacement span {
    background: url("playbuttons/emvideo-play.png") no-repeat scroll 0 0 transparent;
    left: 60px;
    top: 6px
}
.emvideo-colorbox-load .emvideo-thumbnail-replacement span:hover {
    background-position: -85px 0;
}
.emvideo-colorbox-load .emvideo-thumbnail-replacement {
    width: 200px;
}



